* {
  margin: auto;
  padding: auto;
}

.Quality-Debt img{
  display: flex;
  justify-content: center;
  
  /***height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /***height: 270px;
  background-image: url(img/QualityNum.jpg);
  background-size: contain;
  background-repeat: no-repeat; ***/
}